@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{ 
    margin: 0;
    padding: 0;
 
}

#header{

    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    background-color: white; 
    z-index: 1000;   

}

#logo{
    width: 95px;
    cursor: pointer;
    margin-top: 10px;
}

#logo-texto{
    width: 130px;
    margin-bottom: 55px;
    cursor: pointer;
}

.container-logo{
    width: 400px;
    
}

.navbar{
    display: flex;
    gap: 20px;
    
}

.hiperlink{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.hiperlink:hover{
    color: rgb(92, 91, 91);
}

.titulo-plural{
    font-size: 35px;
}

.titulo-mapa{
    font-size: 50px;
}


#titulo-dif{
    color: #04b0b3;
}

.wpp-contato{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.whatsapp{
    font-size: 25px;
}


.entre-contato{
    background-color: #fff;
    width: 80vw;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 400px;
    
}


#container-contatos{
    background-color: rgb(241, 250, 250);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

#endereco{
    text-align: center;
    text-decoration: none;
    color: black;
    width: 260px;
    font-size: 18px;
}

.endereco-contatos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.midias-sociais{
    width: 30px;
}

#midias{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.icones-contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3px;
}

.icon{
    font-size: 30px;
}

.hyperlink-icon{
    text-decoration: none;
    color: black;
    
}

.titulo-contato{
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.mapa{
    width: 650px;
    height: 350px;
    
}

#container-footer{
    height: 20vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.traco{
    background-color: rgb(119, 119, 119);
    width: 1000px;
    height: 1px;
  
}

#conteudo-footer{
    height: 110px;
    background-color: rgb(241, 250, 250);
}   

.principal-footer{
  
    width: 1343px;
}

.itens-footer{
    width: 1343px;
    display: flex;
    justify-content: space-around;
}

.logo-footer{
    width: 175px;
    cursor: pointer;
}

.icons{
    font-size: 25px;
    cursor: pointer;
    display: flex;
    gap: 20px;
}


#textos-footer{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    gap: 20px;
    margin-top: 30px;  
    height: 100px;
   
}

.privacy-politics{
    display: flex;
    gap: 15px;
    margin-left: 70px;
    font-weight: bolder;
    color: rgb(121, 120, 120);
    
}

.privacy-politics > a{
    font-size: 14px;
    height: 13px;
    cursor: pointer;
    
}


.footer-header{
    font-weight: bolder;
    display: flex;
    gap: 15px;
}

.footer-header > a{
    text-decoration: none;
    color: rgb(121, 120, 120);
    font-size: 14px;
    height: 13px;
}

#copyright{
    height: 80px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    color: rgb(121, 120, 120);
    font-weight: bold;

}

footer{
    background-color: rgb(241, 250, 250);
}

#copyright > p{
    font-size: 12px;
}



