@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    
}

#header{

    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    background-color: #fff; 
    z-index: 1000;   

}

#logo{
    width: 95px;
    cursor: pointer;
    margin-top: 10px;
}

#logo-texto{
    width: 130px;
    margin-bottom: 55px;
    cursor: pointer;
}

.container-logo{
    width: 400px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 310px;
 
}

.hiperlink{
    text-decoration: none;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    color: black;
    font-size: 15px;

}

.hiperlink:hover{
    color: rgb(92, 91, 91);
}

#fotos-projetos{
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    
}

.container-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.escritorio{
    height: 18em;
    margin-bottom: 1.5em;
}

.titulo-projeto{
    margin-top: 11%;
    font-size: 62px;
    text-align: center;
    font-family: "Noto Sans", serif;
    font-weight: 300;
}

.traco-principal{
    background-color: rgb(119, 119, 119);
    width: 80%;
    height: 1px;
    margin: auto;
    margin-top: 4em;
}

.ft-interior-casa{
    height: 18em;
    margin-bottom: 5em;
}

.terreno{
    width: 26em;
}

.oab{
    width: 26em;
    cursor: pointer;
}

.zoom{
    overflow: hidden;
   
}

.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.obra-terreno{
    width: 26em;
    height: 14em;
    margin-bottom: 5.5em;
}

.text-img{
    font-family: "Noto Sans", serif;
    font-size: 14px;
}

#section-fotos{
    width: 100%;
    height: 50vh;
    justify-content: space-around;
    gap: 1.8em;
    align-items: center;
    display: flex;
    margin-top: 3%;
}

.calcada{
    width: 20em;
    height: 27em;
    margin-bottom: 35%;
}


/* FOOTER */

#container-footer{
    height: 20vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.traco{
    background-color: rgb(119, 119, 119);
    width: 1000px;
    height: 1px;
}



#conteudo-footer{
    height: 110px;
}   

.principal-footer{
  
    width: 1343px;
}

.itens-footer{
    width: 1343px;
    display: flex;
    justify-content: space-around;
}

.logo-footer{
    width: 175px;
    cursor: pointer;
}

.icons{
    font-size: 25px;
    cursor: pointer;
    display: flex;
    gap: 20px;
}


#face{
    font-size: 22px;
}

#textos-footer{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    gap: 20px;
    margin-top: 30px;  
    height: 100px;
}

.privacy-politics{
    display: flex;
    gap: 15px;
    margin-left: 70px;
    font-weight: bolder;
    color: rgb(121, 120, 120);  
}

.privacy-politics > a{
    font-size: 14px;
    height: 13px;
    cursor: pointer;  
}

.footer-header{
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.footer-header > a{
    text-decoration: none;
    color: rgb(121, 120, 120);
    font-size: 14px;
    height: 13px;
}

#copyright{
    height: 80px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    color: rgb(121, 120, 120);
    font-weight: bold;
}

#copyright > p{
    font-size: 12px;
}

.hiperlink-footer:hover{
    color: rgb(46, 46, 46);
}

#face:hover{
    color: rgb(46, 46, 46);
}

#insta:hover{
    color: rgb(46, 46, 46);
}

#nora{
    text-decoration: none;
    color: rgb(121, 120, 120);
  }

#nora:hover{
    color: rgb(46, 46, 46);
}


/* RESPONSIVIDADE */

@media(max-width: 480px){

    body{
        height: 100%;
    }

    #header{
        width: 100%;
        background-color: #fff;
        display: flex;
        height: 15%;
    }

    .container-logo{
        display: flex;
    }
    
    #logo{
        width: 60px;
        margin-bottom: 15px;
    }
    
    #logo-texto{
        margin-top: 30px;
        width: 70px;
        height: 15px;
    }

    .hiperlink{
        font-size: 11px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .navbar{
        margin-right: 10px;
        width: 200px;
        display: flex;
        gap: 7px;
        justify-content: space-around;
    }
}

